.wrapper {
  padding: 30px;
}

.authorsWrapper {
  display: flex;
  flex-wrap: wrap;
}
.authorCard {
  width: 30%;
  margin-bottom: 10px;
}


@media only screen and (max-width : 768px) {
  .authorCard {
    width: 50%;
  }
}
