.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
}
.quoteWrapper {
  width: 760px;
  a {
    text-decoration: none;
  }
}

.rightNav {
  a {
    text-decoration: none;
    margin-right: 30px;
    letter-spacing: -0.5px;
  }
}

@media only screen and (max-width : 768px) {
  .quoteWrapper {
    width: 100%;
  }
}
